table {
  width: 100%;
  text-align: start;
  border-left: solid 1px;
  border-right: solid 1px;
  border-color: rgb(233 233 233);
}

button {
  color: blue;
}
mat-icon{
  color: rgb(114, 114, 161) !important;
}
  th {
    text-align: center !important;
    font-size: 20px !important;
    color:blue !important;
  }
 td{
    text-align: center !important;
    font-size: 20px !important;
  }

  .scroll-container{
    max-height: 70vh;
     overflow: auto;
  
  }
  .m-b{
    padding-bottom: 4px;
    margin-top: 4px;
    border-bottom: 1px solid #d4d4d4;
  }